{% extends "base.html" %}
{% load static %}

{% block title %}<title>f2mahmud | CS</title>{% endblock %}

{% block libraries %}
    <link rel="stylesheet" href="{% static 'css/cs-home.css' %}">
{% endblock %}

{% block content %}

        <div id="exp-container" class="main-content w-75 mx-auto  p-0">
            <div class="title m-0">
                <h2>The Techy Stuff</h2>
            </div>
            <div id="work-experiences" class="overflow-auto">
                {% for experience in work_entries %}
                    <div id="exp-detail" class="px-5 w-100 h-100">

                        <img class="employer-logo h-25 w-50 mx-auto" src="{{ experience.logo.url }}"/>
                        <h1 class="mx-auto">{{ experience.companyName }}</h1>
                        <p>
                            <strong>{{ experience.position }}</strong>, {{ experience.startDate }}- {{ experience.endDate }}
                        </p>
                        <p>{{ experience.description | safe }}</p>

                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}