{% extends "base.html" %}

{% block title %}<title>f2mahmud | Home</title>{% endblock %}

{% block libraries %}
    <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}

{% block content %}

    <div class="h-100 w-100">

        <div id="home-header" class="w-100">

            <h2>Welcome</h2>

        </div>

        <div class="h-50 w-100 p-0 m-0 d-flex" id="section-selector">

            <div id="section-music" class="h-100 w-25 d-inline-block">

            </div>

            <div id="section-cs" class="h-100 w-50 d-inline-block">

            </div>

            <div id="section-gaming" class="h-100 w-25 d-inline-block">

            </div>

        </div>

        <div class="h-25 w-100">

        </div>

    </div>


{% endblock %}