.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

body {
    height: 100vh;
    width: 100vw;
    background: azure;
}

.footer {
    height: 15%;
    color: silver;
}

.main-content {
    background: white;
}


* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}