#catalog-selector{
    background-color: aliceblue;
}

#section-music{
    background-color: black;
}

#section-cs{
    background-color: red;
}

#section-gaming{
    background-color: black;
}

#home-header{
    text-align: center;
}

