#home-header{
    text-align: center;
    color: deepskyblue;
    font-family: "American Typewriter";
    overflow: scroll;
}

#section-selector{
    background-color: aliceblue;
    height: 60%;
}

#section-music{
    height: 100%;
    width: 33.3%;
}

#section-cs{
    height: 100%;
    width: 45%;
}

#section-gaming{
    background: black;
    width: 33.3%;
    height: 100%;
}



body{
    background: black;
}

